.profilecard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  .profiletitle {
    color: grey;
    font-size: 20px;
  }
  h1{
    font-size: 25px;
  }
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
    margin:8px;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }